/* 
STYLE FOR INPUT ELEMENT 
used in type="text", type="email" and <select> element 

Classes:
class="textInput"
class="formSubmitAttempted"
*/

.textInput {
    width: 300px;
    height: 34px;
    box-sizing: border-box;
    padding: 8px 12px;
    text-align: left;
    outline: none;
    background-color: #FFFFFF;
    border: 1.75px solid #8A8A8A;
    border-radius: 4px;
    transition-duration: 0.3s;
}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    color: #666666;
    opacity: 1;
}

.textInput:hover {
    border: 1.75px solid #666666;
}

.textInput:active {
    border: 1.75px solid #006FDD;
}

.textInput:focus {
    border: 1.75px solid #006FDD;
    -webkit-box-shadow: 0px 0px 0px 3px #AED6FF;
    -moz-box-shadow: 0px 0px 0px 3px #AED6FF;
    box-shadow: 0px 0px 0px 3px #AED6FF;
}

.textInput:disabled {
    background-color: #F0F0F0;
    border: 1.75px solid #CECECE;
}

/* this is a class for invalid controllers */
.formSubmitAttempted .textInput:invalid {
    border-color: #BF0001;
}

select.textInput {
    padding: 0 8px;
    text-indent: 0px;
    color: #666666;
    /* this is a placeholder color, use color: #212121; if no need for a placeholder color */
}

/* need a function to change the class */
select.optionSelected {
    color: #212121;
}