<main>
    <h1>Simple Newsletter Form</h1>

    <form class="formGrid">

        <div class="gridColFull500">
            <input class="textInput" type="text" placeholder="First Name *">
        </div>

        <div class="gridColFull500">
            <input class="textInput" type="text" placeholder="Last Name *">
        </div>

        <div class="gridColFull">
            <input class="textInput" type="text" placeholder="Email Address *">
        </div>

        <div class="gridColFull">
            <select class="textInput" name="" id=""></select>
        </div>

        <div class="gridColFull">
            <label class="checkboxLabel" for="notBound">
                <input type="checkbox">
                <p>I agree to the <a> Terms of use</a><span> *</span></p>
            </label>
        </div>

        <div class="gridColFull">
            <label class="checkboxLabel" for="notBound">
                <input type="checkbox">
                <p>I agree to the <a> Privacy policy</a><span> *</span></p>
            </label>
        </div>

        <div>
            <button disabled>Return</button>
        </div>

        <div>
            <button>Submit</button>
        </div>

    </form>
</main>